{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="flash-container">
        {% for label, messages in app.flashes %}
            <div class="flash flash-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="form-card1">
        <div class="form-card2">
            <form class="form" method="post" action="{{ path('app_contact_index') }}">
                <h1 class="form-heading">Contact</h1>

                <div class="form-field">
                    {{ form_widget(form.name, {'attr': {'class': 'input-field', 'placeholder': 'Nom et prénom'}}) }}
                    <div class="error-message">{{ form_errors(form.name) }}</div>
                </div>

                <div class="form-field">
                    {{ form_widget(form.email, {'attr': {'class': 'input-field', 'placeholder': 'Email'}}) }}
                    <div class="error-message">{{ form_errors(form.email) }}</div>
                </div>

                <div class="form-field">
                    {{ form_widget(form.phone, {'attr': {'class': 'input-field', 'placeholder': 'Numéro de téléphone'}}) }}
                    <div class="error-message">{{ form_errors(form.phone) }}</div>
                </div>

                <div class="form-field">
                    {{ form_widget(form.content, {'attr': {'class': 'input-field', 'placeholder': 'Message', 'cols': '30', 'rows': '3'}}) }}
                    <div class="error-message">{{ form_errors(form.content) }}</div>
                </div>

                {{ form_widget(form._token) }}

                <button type="submit" class="sendMessage-btn">Envoyer la demande de contact</button>
            </form>
        </div>
    </div>
{% endblock %}
