{% extends 'base.html.twig' %}

{% block metatitle %}Strength mate{% endblock %}

{% block body %}
    <div class="container">
        <img class="home_wall" src="{{ asset('assets/image/logo.png') }}" alt="logo.accueil">

        <div class="home-content-wrapper">
            <div class="home-content-item home-reverse">
                <div class="home-image-container">
                    <img src="{{ asset('assets/image/couple.jpg') }}" alt="coach" class="home-round-image">
                </div>
                <div class="home-text-container">
                    <h2>Qui sommes-nous ?</h2>
                    <p>Nous sommes deux passionnés de musculation et de fitness, offrant des conseils, des programmes d'entraînement et du contenu motivant pour aider chacun à atteindre ses objectifs de force et de condition physique.</p>
                    <a href="{{ path('app_presentation_index') }}" class="home-btn-primary">En savoir plus</a>
                </div>
            </div>

            <div class="home-content-item">
                <div class="home-image-container">
                    <img src="{{ asset('assets/image/nutri.jpg') }}" alt="nutrition" class="home-round-image">
                </div>
                <div class="home-text-container">
                    <h2>Nos suivis</h2>
                    <p>Chez Strength Mate, nous vous accompagnons avec des suivis personnalisés pour optimiser vos performances. Plans d'entraînement, conseils nutritionnels et motivation : tout est conçu pour vous aider à atteindre vos objectifs efficacement.</p>
                    <a href="{{ path('app_suivis_index') }}" class="home-btn-primary">Découvrir nos suivis</a>
                </div>
            </div>

            <div class="home-content-item home-reverse">
                <div class="home-image-container">
                    <img src="{{ asset('assets/image/notes.svg') }}" alt="avis" class="home-round-image">
                </div>
                <div class="home-text-container">
                    <h2>Témoignages</h2>
                    <p>Nos membres partagent leur évolution avec vous ! Grâce à nos suivis et conseils, ils atteignent leurs objectifs et repoussent leurs limites. Rejoignez-nous et écrivez votre propre succès !</p>
                    <a href="{{ path('app_temoignages_index') }}" class="home-btn-primary">Lire les témoignages</a>
                </div>

            </div>

            <div class="home-content-item">
                <div class="home-image-container">
                    <img src="{{ asset('assets/image/contact.jpg') }}" alt="contact" class="home-round-image">
                </div>
                <div class="home-text-container">
                    <h2>Contact</h2>
                    <p>Une question ou besoin d'un suivi ? Nous sommes à votre écoute ! Contactez-nous pour un accompagnement personnalisé et des conseils adaptés à vos objectifs.</p>
                    <a href="{{ path('app_contact_index') }}" class="home-btn-primary">Nous contacter</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
